.hidden {
    display: none;
}

.btn {
    border: 1px solid darkgray;
    border-radius: 0.25em;
    box-sizing: content-box;
    display: inline-block;
    font: inherit;
    font-size: 0.8333em;
    padding: 0.75em 1em;
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.label {
    background-color: #337ab7;
    border: 1px solid #337ab7;
    border-radius: 0.3em;
    color: white;
    display: inline-block;
    font-size: 0.6em;
    margin: 0 0.2em;
    padding: 0.2em 1em;
    vertical-align: bottom;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

em {
    font-style: italic;
}

b {
    font-weight: bold;
}