/* Fonts */

body {
    font-family: 'Slabo 27px', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Page layout */

html {
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
}

body > header {
    height: 2em;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    background-color: #494e58;
    background: radial-gradient(circle, #1E3E91, #102028);
    color: white;
}

@media screen and (max-width: 500px){
    body > header {
        font-size: 1.2em;
    }
}

main {
    margin: 0 auto;
    padding-top: 2em;
    width: 90%;
    max-width: 960px;
}


#article-form {
	width:	80%;
	margin:	0 auto;
}


.outer {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 30%;
    height: 12%;
    margin: 0 -15%;
}

body > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    text-align: center;
    width: 100%;
    height: 40px;
    border-top: 2px solid darkgrey;
}

body > footer .credit{
    line-height: 20px;
    margin: 10px;
}

.btn-auth{
    position: absolute;
    top: 0;
    right: 1em;
    font-size: 0.5em;
}

a,
a:visited{
    text-decoration: none;
    color: inherit;
}
